:root {
  --canvas-scale: 1;
}

body {
  color: #eee;
  background-color: #333;
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

#myCanvas {
  background-color: #20A979;
  height: 600px;
  width: 600px;
  transform: scale(var(--canvas-scale));
}

#controls>button {
  font-size: 20;
  padding: .5rem;
}

#controls>button:hover {
  background-color: dodgerblue;
}

button {
  background-color: white;
  font-size: 28px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px black;
  transform: scale(1.2) translateY(20%);
  margin: 0 0.3rem;
  cursor: pointer;
}